* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-style: 1.6rem;
}

.hero-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

.additional-text {
    font-size: 1.8rem;
}

.top-hero {
    position: relative;
    height: 20rem;
    background-size: cover;
    z-index: 0;
}

.top-hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3.6rem;
    text-transform: uppercase;
}

.color-fire1 {
    color: #FFE808;
}
.color-fire2 {
    color: #FFCE00;
}
.color-fire3 {
    color: #FF9A00;
}
.color-fire4 {
    color: #FF5A00;
}

/* NAVBAR */

nav {
    background-color: #363B42;
}

.fa-fire-extinguisher {
  transform: scaleX(-1);
}

.navbar-toggler {
    font-size: 3rem;
}

.navbar-brand {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: none;
}

.navbar-nav {
    font-size: 1.8rem;
    text-transform: uppercase;
}

/* CARUSEL */

header {
    font-size: 2rem;
}

.carousel-item {
    position: relative;
    height: 400px;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.carousel-img-one {
    background-image: url(/img/m1s.jpg);
}
.carousel-img-two {
    background-image: url(/img/m2s.jpg);
}
.carousel-img-three {
    background-image: url(/img/m3s.jpg);
}

@media (min-width:720px) {
    .carousel-item {
        height: 600px;
    }

    .carousel-img-one {
        background-image: url(/img/m1l.jpg);
    }
    .carousel-img-two {
        background-image: url(/img/m2l.jpg);
    }
    .carousel-img-three {
        background-image: url(/img/m3l.jpg);
    }
}

/* MAIN */

.card {
    border: none;
}

.card p:nth-child(even) {
    font-size: 2rem;
    margin: 0;
}
.card p:nth-child(odd) {
    font-size: 1.5rem;
}

.pasion {
    position: relative;
    height: 20rem;
    background-image: url(/img/m6.jpg);
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.col-10 p:nth-child(even) {
    font-size: 1.5rem;
}

/* FOOTER */

footer {
    font-size: 1.6rem;
}